body{
background: linear-gradient(to right,#03effe,#026be2);
}
#A{
color:blue;
text-align:center;
text-shadow:grey 4px 4px 4px;
}
#B{
background-color:black;
transition:0.5s
}
#B:hover {
height:400pt;
width:400pt;
}
div:before{
	content: '';
	position: absolute;
	height: 100000px;
	width: 20px;
	background: #f3f3f3;
	box-shadow: 0 0 10px #fff;
	opacity: 0.5;
	transition:0.7s;
	transform: rotate(0deg) translateX(-30px);

}
div:hover:before{
	transform: rotate(0deg) translate(460px);
}
#C{
text-align:center;
color: #B8860B ;
}
#D{
text-align:center;
font-weight:60px;
}